
/* FONT-FAMILY */

$font-text: "raleway";
$font-title: "Playfair Display";


/* FONT -SIZE */

$text-xl: 26px;
$text-l: 20px;
$text-m: 18px;
$text-s: 14px;

/* COLORS */

$color-primary: #666;
$color-secondary: #da8b82;
